@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap");
@import "tailwindcss";

@theme {
	--color-primary: #0500ff;
	--color-neutral: #1c1c1c;
	--shadow-small: 0px 2px 8px 0px #00000033;
	--spacing-medium-80: 5rem;
	--font-roboto: "Roboto", sans-serif;
}

html,
body {
	-webkit-font-smoothing: antialiased;
	min-height: 100vh;
	min-width: 100vw;
	text-rendering: optimizeLegibility;
}

input:focus,
textarea:focus,
select:focus {
	outline: none;
}
